@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Foldit:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital@1&display=swap');

:root {
    --pri: #000;
    --acc: #F4DDB5;
    --sec: purple;
}

.title-banner {
    height: 10vh;
    width: 100%;
    text-align: center;
    font-family: 'Alike Angular', serif;
    
    font-size: 52px;
    color: #F4DDB5;
}

.arrow {
    font-size: 4rem;
    color: #F4DDB5;
    font-family: 'Poor Story', serif;
    pointer-events: all;
    transform: scale(0.8);
    transition: 1s;
}

.arrow:hover {
    cursor: pointer;
    transform: scale(1);
}

.carousel-3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85%;
}

.carousel {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.carousel-spec {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85%;
}

.core {
    width: 100%;
    height: 85vh;
    background: linear-gradient(#000, purple);
}

.acads {
    width: 100%;
    height: 85vh;
    background: linear-gradient(purple, #000);
}

.desmar {
    width: 100%;
    height: 85vh;
    background: linear-gradient(#000, purple);
}

.finlog {
    width: 100%;
    height: 90vh;
    background: linear-gradient(purple, #000);
}

.tech {
    width: 100%;
    height: 85vh;
    background: linear-gradient(#000 0%, purple 50%, #000 100%);
}

/*.card {
    height: 50vh;
    width: 20vw;
    border: 0.25em solid #f4ddb5;
    border-radius: 5%;
    overflow: hidden;
    z-index: 2;
    -webkit-transform: scale(0.7) translateY(-1rem) translateX(0);
    transform: scale(0.7) translateY(-1rem) translateX(0);
    cursor: pointer;
    opacity: 0.6;
    pointer-events: auto;
    filter: blur(2px);
    transition: 1s;
}*/

.card {
    height: 80%;
    min-width: 20vw;
    border: 0.25em solid #f4ddb5;
    border-radius: 5%;
    overflow: hidden;
    z-index: 2;
    -webkit-transform: scale(0.7) translateY(-1rem) translateX(0);
    transform: scale(0.7) translateY(2rem) translateX(0);
    cursor: pointer;
    opacity: 0.4;
    pointer-events: auto;
    filter: blur(4px);
    transition: 1s;
}

.card-modal {
    height: 80vh;
    min-width: 40vw;
    max-width: 60vw;
    display: flex;
    flex-direction: row;
    border: 0.25em solid #f4ddb5;
    border-radius: 5%;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
}


.show {

    transform: scale(0.7) translateY(-1rem) translateX(0);
    opacity: 0.6; 
    filter: blur(2px);
}



.active {
    z-index: 3;
    transform: scale(1) translateY(3rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    cursor: default;
    filter: blur(2px);
    transition: 1s;
    transition-delay: 200ms;
}

.show-active {

    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    filter: none;
}


.card .pfp {
    height: 76.36%;
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.card-modal .pfp {
    height: 100%;
    width: 50%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.card-modal .desc {
    height: 100%;
    width: 50%;
    background: #000;
    color: #F4DDB5;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-evenly;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-bottom: 7.5%;
    
}

/*.card-modal .desc .title-name {
    
    font-size: 1.75rem;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to bottom, red 50%, blue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}  */



.card .desc {
    height: 23.64%;
    width: 100%;
    background: #000;
    color: #F4DDB5;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    border-top: 0.2em solid #f4ddb5;
    justify-content: center;
    box-sizing: border-box;
}

.desc button {
    background-color: #000;
    font-size: 1.25rem;
    color: #F4DDB5;
    height: 5vh;
    width: 50%;
    text-align: center;
    border: 0.25em solid #F4DDB5;
    cursor: pointer;
    transition: all 1s;
    border-radius: 50px;
}

.desc button:hover {
    transform: scale(1.1);
    background-color: purple;
}

.para {
    height: 70%;
    width: 100%;
    background: transparent;
    color: #F4DDB5;
    font-size: 1.5rem;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: thin; /* Set the scrollbar width to a thin size (works in Firefox) */
    scrollbar-color: transparent transparent; /* Set the scrollbar color to transparent (works in Firefox) */
    -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer and Edge */
    scrollbar-color: transparent transparent;
    font-family: 'Mali', cursive;
    padding-top: 5%;
}

.para::-webkit-scrollbar {
    width: 5px;
}

.para::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the thumb color to transparent */
  }

.name {
    font-size: 1.5rem;
    text-align: center;
}

.name h3 {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #42ecf5 0%,
      #2218ed 29%,
      #f00722 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-family: 'Trocchi', serif;
}

.title-name {
    font-size: 1.75rem;
    text-align: center;
    color: var(--acc);
    padding-top: 5%;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 
        -1px -1px 0 var(--pri),  
        1px -1px 0 var(--pri),
        -1px 1px 0 var(--pri),
        1px 1px 0 var(--pri);
    -webkit-text-stroke: 0.025rem var(--pri);

}

/*.title-name h3 {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #42ecf5 0%,
      #2218ed 29%,
      #f00722 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 1.25rem;
}*/

@keyframes textclip {
    to {
      background-position: 200% center;
    }
}

@media (max-width: 1080px) {
    .carousel-3 .card {
        display: none;
    }

    .carousel-3 .card.active {
        display: inline;
        min-width: 40vw;
    }

    .carousel-spec .card.active {
        min-width: 35vw;
    }

    .card-modal {
        max-width: 100%;
    }
}

@media (max-width: 720px) {
    .carousel-3 .card {
        display: none;
    }

    .carousel-3 .card.active {
        display: inline;
        min-width: 50vw;
    }

    .carousel .card {
        display: none;
    }

    .carousel-spec .card.active {
        min-width: 45vw;
    }

    .carousel .card.active {
        display: inline;
        min-width: 50vw;
    }
}

#tg-pic {
    background-image: url("../img/ot/WhatsApp Image 2023-11-27 at 19.46.25 (9).jpeg");
}

#adh-pic {
    background-image: url("../img/ot/WhatsApp Image 2023-11-27 at 19.46.25.jpeg");
}

#ath-pic {
    background-image: url("../img/ot/WhatsApp Image 2023-11-27 at 19.46.25 (8).jpeg");
}

#may-pic {
    background-image: url("../img/ot/WhatsApp Image 2023-11-27 at 19.46.25 (3).jpeg");
}

#tri-pic {
    background-image: url("../img/ot/WhatsApp Image 2023-11-27 at 19.46.25 (2).jpeg");
}

#sam-pic {
    background-image: url("../img/ot/WhatsApp Image 2023-11-27 at 19.46.25 (1).jpeg");
}

#sah-pic {
    background-image: url("../img/ot/WhatsApp Image 2023-11-27 at 19.46.25 (16) - Copy.jpeg");
}

#abh-pic {
    background-image: url("../img/ot/WhatsApp Image 2023-11-27 at 19.46.25 (13).jpeg");
}

#jor-pic {
    background-image: url("../img/ot/WhatsApp Image 2023-11-27 at 19.46.25 (14).jpeg");
}

#gol-pic {
    background-image: url("../img/ot/WhatsApp Image 2023-11-27 at 19.46.25 (15).jpeg");
}

#adi-pic {
    background-image: url("../img/ot/WhatsApp Image 2023-11-27 at 19.46.25 (10).jpeg");
}

.modal {
    display: flex;
    flex-direction: row;
    
    border: 0;
    background: transparent;
}

/*.modal::backdrop {
    background-color: white;
    opacity: 0.4;
}*/


.circle {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 4px solid var(--acc);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    display: inline-block;
    margin: 10px 20px;
    top: 2%;
    right: 1%;
    transform: scale(0.7);
    transition: all 0.2s;
   /*@include transform-origin(100%,100%);
   */
   /*@include transform-origin(0%,0%);
   */
}

.circle:hover {
    transform: scale(1);
}
.circle:after {
    width: 24px;
    height: 4px;
    background-color: var(--acc);
    content: "";
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -2px;
    position: absolute;
    transform: rotate(45deg);
    transition: all 0.2s;
}
.circle:before {
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -2px;
    width: 24px;
    height: 4px;
    background-color: var(--acc);
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    transition: all 0.2s;
}





