@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@1&display=swap');

#crossover {
    font-family: 'Foldit', sans-serif;
    position: absolute;
    left: 50%;
}

.astro {
    background-image: url("../img/spacebg.jpg") !important;
    width: 100%;

    position: relative;
    padding-bottom: 60em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.avi {
    background-image: url("../img/skybg.jpg") !important;
    width: 100%;

    position: relative;
    padding-bottom: 60em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rocket {
    position: absolute;
    z-index: 100;
    width: 6em;
    height: 6em;
    top: -20%;
    left: 70%;
    background-image: url('../img/rocket.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation-name: RocketDown;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes RocketDown {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    72% {
        transform: translateY(63rem);
        opacity: 1;
    }

    80% {
        transform: translateY(70rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 0;
    }
}

.satellite {
    background-image: url("../img/satellite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 100;
    width: 4em;
    height: 4em;
    top: 60%;
    left: -10%;
    animation: X-motion 20s ease-in-out infinite;
}

@keyframes X-motion {
    0% {
        left: -10%;
        
        transform: rotateZ(0deg);
    }

    40% {
        transform: rotateZ(180deg)
    }

    80% {
        left: 85rem;
        
        transform: rotateZ(0deg);
    }
}

.satellite-wrapper {
    position: absolute;
    top: 50%;
    animation: Y-motion 20s ease-in-out infinite;
}

@keyframes Y-motion {
    0% {
        opacity: 1;
        top: 60%;
    }

    25% {
        top: 36%;
    }

    45% {
        top: 45%;
    }

    72% {
        opacity: 1;
    }

    85% {
        top: 100%;
        opacity: 0;
    }

    100% {
        top: 60%;
        opacity: 0;
    }
}

#wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;

}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.waviy {
    position: absolute;
    
    font-size: 60px;
    top: 65%;
    left: 15rem;
}

.waviy span {
    font-family: 'Bevan', serif;
    position: relative;
    display: inline-block;
    color: #011329;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
}

@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}