{% extends './base.html' %}

{% block title %}
OUR TEAM
{% endblock %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}
<section class="core">
    <div class="title-banner">CORE</div>
    <div class="carousel-3">
        <div class="arrow arrow-left" onclick="changeCard(-1, '.core')"><</div>
        <div class="card" onclick="setActiveCard(0, '.core')">
            <div class="pfp" id="tg-pic"><div class="title-name">Vice President</div></div>
            <div class="desc">
                <div class="name"><h3>Tagore Gedela</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
        <div class="card active" onclick="setActiveCard(1, '.core')">
            <div class="pfp" id="adh-pic"><div class="title-name">President</div></div>
            <div class="desc">
                <div class="name"><h3>Adhityan Praveen</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
        <div class="card" onclick="setActiveCard(2, '.core')">
            <div class="pfp" id="ath-pic"><div class="title-name">Secretary</div></div>
            <div class="desc">
                <div class="name"><h3>Atharva Gupta</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
        <div class="arrow arrow-right" onclick="changeCard(1, '.core')">></div>
    </div>
</section>
<section class="acads">
    <div class="title-banner">Academics</div>
    <div class="carousel">
        <div class="arrow arrow-left" onclick="changeCard(-1, '.acads')"><</div>
        <div class="card active" onclick="setActiveCard(0, '.acads')">
            <div class="pfp" id="may-pic"><div class="title-name">Head of Aviation</div></div>
            <div class="desc">
                <div class="name"><h3>Mayank Maddula</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
        <div class="card" onclick="setActiveCard(1, '.acads')">
            <div class="pfp" id="tri-pic"><div class="title-name">Head of Astronomy</div></div>
            <div class="desc">
                <div class="name"><h3>Trishir Saxena</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
        <div class="arrow arrow-right" onclick="changeCard(1, '.acads')">></div>
    </div>
</section>
<section class="desmar">
    <div class="title-banner">Design & Marketing</div>
    <div class="carousel">
        <div class="arrow arrow-left" onclick="changeCard(-1, '.desmar')"><</div>
        <div class="card active" onclick="setActiveCard(0, '.desmar')">
            <div class="pfp" id="sam-pic"><div class="title-name">Head of Design</div></div>
            <div class="desc">
                <div class="name"><h3>Samidha Panicker</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
        <div class="card" onclick="setActiveCard(1, '.desmar')">
            <div class="pfp" id="sah-pic"><div class="title-name">Head of Marketing</div></div>
            <div class="desc">
                <div class="name"><h3>Sahil Sawant</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
        <div class="arrow arrow-right" onclick="changeCard(1, '.desmar')">></div>
    </div>
</section>
<section class="finlog">
    <div class="title-banner">Finance & Logistics</div>
    <div class="carousel-3">
        <div class="arrow arrow-left" onclick="changeCard(-1, '.finlog')"><</div>
        <div class="card" onclick="setActiveCard(0, '.finlog')">
            <div class="pfp" id="abh-pic"><div class="title-name">Head of Finance & Logistics</div></div>
            <div class="desc">
                <div class="name"><h3>Abhinav Nair</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
        <div class="card active" onclick="setActiveCard(1, '.finlog')">
            <div class="pfp" id="jor-pic"><div class="title-name">Head of Finance & Logisitics</div></div>
            <div class="desc">
                <div class="name"><h3>Jordan Bout</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
        <div class="card" onclick="setActiveCard(2, '.finlog')">
            <div class="pfp" id="gol-pic"><div class="title-name">Head of Finance & Logistics</div></div>
            <div class="desc">
                <div class="name"><h3>Aditya Golchha</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
        <div class="arrow arrow-right" onclick="changeCard(1, '.finlog')">></div>
    </div>
</section>
<section class="tech">
    <div class="title-banner">Tech</div>
    <div class="carousel-spec">
        <div class="card active">
            <div class="pfp" id="adi-pic"><div class="title-name">Head of Tech</div></div>
            <div class="desc">
                <div class="name"><h3>Aditya Bairy</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
    </div>
</section>


{% endblock %}


{% block scripts %}
{% load static %}
<script defer src="{% static 'js/about.js' %}"></script>
<script src="https://kit.fontawesome.com/be9ab13814.js" crossorigin="anonymous"></script>
{% endblock %}