{% extends './base.html' %}

{% block title %}
Activities
{% endblock %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static './css/activities.css' %}">
<link rel="stylesheet" href="{% static './css/base.css' %}">
{% endblock %}

{% block content %}
<div class="canvas">
    <div class="level">
        <div class="card" onclick="setActiveCard(0, '.finlog')">
            <div class="pfp" id="abh-pic"><div class="title-name">Head of Finance & Logistics</div></div>
            <div class="desc">
                <div class="name"><h3>Abhinav Nair</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
    </div>
    <div class="level">
        <div class="card" onclick="setActiveCard(0, '.finlog')">
            <div class="pfp" id="abh-pic"><div class="title-name">Head of Finance & Logistics</div></div>
            <div class="desc">
                <div class="name"><h3>Abhinav Nair</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
        <div class="card" onclick="setActiveCard(0, '.finlog')">
            <div class="pfp" id="abh-pic"><div class="title-name">Head of Finance & Logistics</div></div>
            <div class="desc">
                <div class="name"><h3>Abhinav Nair</h3></div>
                <button class="openModal">See More</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{% load static %}
<script defer src="{% static './js/activities.js' %}"></script>
<script src="https://kit.fontawesome.com/be9ab13814.js" crossorigin="anonymous"></script>
{% endblock %}