{% extends './base.html' %}

{% block title %}
OUR ACTIVITIES
{% endblock %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static './css/activities.css' %}">
<link rel="stylesheet" href="{% static './css/base.css' %}">
{% endblock %}

{% block content %}

{% endblock %}


{% block scripts %}
{% load static %}
<script defer src="{% static './js/activities.js' %}"></script>
<script src="https://kit.fontawesome.com/be9ab13814.js" crossorigin="anonymous"></script>
{% endblock %}