<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <style>
        h1 {
            color: white;
        }
        body {
            text-align: center;
            padding-top: 20%;
        }
    </style>
</head>
<body bgcolor="black">
    <h1>This page is temporarily unavailable! Wordle month is over!</h1>
</body>
</html>