{% extends './base.html' %}

{% block title %}
Wordle
{% endblock %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static './css/wordle.css' %}">
<link rel="stylesheet" href="{% static './css/base.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="grid">

    </div>
</div>
{% endblock %}


{% block scripts %}
{% load static %}
<script defer src="{% static './js/wordle.js' %}"></script>
<script src="https://kit.fontawesome.com/be9ab13814.js" crossorigin="anonymous"></script>
{% endblock %}